.App {
  text-align: center;
}

.menu{
  justify-content: center;
}

.margin{
  margin-left: 15px  !important;
}
.ant-menu-item .ant-menu-item-icon + span, .ant-menu-submenu-title .ant-menu-item-icon + span, .ant-menu-item .anticon + span, .ant-menu-submenu-title .anticon + span{
  margin-left: 0;
}

.titulo-usuarios{
  margin-top: 20px;
}

.border {
  border: solid 1px rgb(201, 198, 198);
}
.container-principal{
  display: flex;
  justify-content: center;
  /* border: solid 1px #777;
  padding: 40px 40px 10px 40px;
  width: 450px;
  margin: 0 auto; */
}

.alerta-login{
  margin-bottom: 20px;
}
.button-nav{
  position: absolute;
  top: 1%;
  right: 1%;
  color: rgba(255, 255, 255, 0.65);
  background: #001529;
}