.App {
  text-align: center;
}

.menu{
  justify-content: center;
}

.margin{
  margin-left: 15px  !important;
}
.ant-menu-item .ant-menu-item-icon + span, .ant-menu-submenu-title .ant-menu-item-icon + span, .ant-menu-item .anticon + span, .ant-menu-submenu-title .anticon + span{
  margin-left: 0;
}
